textarea {
    resize: none;
    box-sizing: border-box;
    height: auto;
    min-height: 41px;
    max-height: 97px;
    border: 1px solid #e4e7ec;
    border-radius: 20px;
    background-color: #f9fafb;
    outline: none;
    padding: 5px 10px 0 10px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 0.7rem;
}

.send-area {

    display: flex;
    flex-direction: column;
    align-items: end;
}

.send-button {

    display: inline-block;
    padding: 7px 14px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #999;
    width: 100px;

}

.send-button:hover {
    background-color: #3e8e41;
}

.send-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.message{
    border: none;
}

